/* CSS Document */
.crumb{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
}


.benefits {
	color: #ffffff;

}

.benefits h2{
	color: #ffce3d;
	margin-bottom: 0;
}

.benefits .benefit .benefit_tagline{

	padding-left: 40px;
	padding: 40px;
}

.benefit{
		height: 220px;
}
.benefit_box{
	margin: 30px 0;
}
.benefit_banner{
	margin-bottom: 10px;
	padding: 5px;
	background-position: center center;
	background-size: cover;
}
.benefit_title{
	font-weight: 800;

	color: #ffffff;
	min-height: 60px;
	font-size: 18px;
	padding: 5px;
}

.benefit_detail{
	margin: 0;
}

.benefit_detail .benefit_title{
	font-size: 24px;
	border-bottom: rgba(245,125,34,1.00) solid 2px;
	padding-bottom: 10px;
}

.benefit_content{
	padding: 5px;
	min-height: 390px;
}

.benefit_content_row_col{
	padding: 0px 5px;
}

.benefit_content_row_col p{
	padding: 0px 5px;
	color: #000000;
	background: #b39e6a;
}

.benefit_button{
	width: 100%;
}
.benefit_button{
	font-weight: 900;
	display:inline-block;
	width: 100%;
	font-size: 20px;
	text-align: center;
	color: rgba(245,125,34,1.00);
	border-bottom: rgba(245,125,34,1.00) solid 2px;
	padding-bottom: 10px;
}

@media screen and (max-width:767px) {
	.benefit{
			height: 100px;
	}
	.benefits .benefit .benefit_tagline{

		padding-left: 15px;
		padding-top:5px;
	}
}
