
body {
    background: #ffffff;
}

h4 {
    color: #000000;
}

h5 {
    color: #EB7220;
}

h6 {
    color: #ccc;
}

p {
    color: #ccc;
}

.luxury_top {
    background-color: #ffffff;
    border:1px solid #ccc;
}

.luxury_center {
    background-color: #EB7220;
    border:1px solid #ccc;
}

.luxury_cn {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #EB7220;
}

.item_bottom {
    padding-top: 30px;
}

.technology_item1 {
    padding: 0px;
}

.technology_item1 h6{
    margin: 0px;
}

.technology_item1_1 {
    border: 1px solid #ccc;

}

.technology_item1_1 p {
    padding-top: 60px;
    margin-bottom: 0px;
}

.technology_item1_2 {
    border: 1px solid #ccc;
}

.technology_item1_2 p {
    padding-top: 20px;
    margin-bottom: 0px;
}

.technology_item1_3 {
    border: 1px solid #ccc;
}

.technology_item1_3 p {
    padding-top: 20px;
    margin-bottom: 0px;
}

.technology_item2 {
    padding: 0px;
}

.technology_item2 h6{
    margin: 0px;
}

.technology_item2_1 {
    border: 1px solid #ccc;

}

.technology_item2_1 p {
    padding-top: 20px;
    margin-bottom: 0px;
}

.technology_item2_2 {
    border: 1px solid #ccc;
}

.technology_item2_2 p {
    padding-top: 60px;
    margin-bottom: 0px;
}

.technology_item2_3 {
    border: 1px solid #ccc;
}

.technology_item2_3 p {
    padding-top: 20px;
    margin-bottom: 0px;
}

.technology_item3 {
    padding: 0px;
}

.technology_item3 h6{
    margin: 0px;
}

.technology_item3_1 {
    border: 1px solid #ccc;

}

.technology_item3_1 p {
    padding-top: 80px;
    margin-bottom: 0px;
}

.technology_item3_2 {
    border: 1px solid #ccc;
}

.technology_item3_2 p {
    padding-top: 80px;
    margin-bottom: 0px;
}

.redemption_item_box {
    background-color: #EB7220;
    margin-top: 20px;
    padding: 0;
}

.redemption_item_title {
    display: inline-block;
    padding: 5px 5px 0 5px;
    width: 100%;
}

.redemption_item_title p:first-child {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin: 0;
}

.redemption_item_title p:last-child {
    padding-right: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin: 0;
}

.redemption_item {
    display: inline-block;
    padding: 0 5px;
    width: 100%;
}

.redemption_item p:first-child {
    margin: 0;
}

.redemption_item p:last-child {
    padding-right: 60px;
    padding-top: 10px;
    margin: 0;
}

.item_bg {
    background-color: rgba(0,0,0,.5);
}

.location {
    padding: 30px 0;
}

.location p{
    color: #000000;
}

.location_bg {
    background: -webkit-gradient(linear,left bottom,right top,from(#ff5c01),to(#ffffff));
}

.location_title {
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.operatinghours {
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.servicehotline {
    border-bottom: 1px solid #000000;
    text-align: center;
    padding: 5px 0 10px 0;
}

.servicehotline_content {
    text-align: center;
}

.location_padleft {
    padding-left: 30px;
}

.location_bottom {
    margin-top: 200px;
    border-top: 1px solid #000000;
}

.location_bottom p {
    font-size: small;
}

.redemption_program {
    padding: 30px 60px;
    border-bottom:1px solid #000000;
}
.redemption_program img{
    padding: 20px;
}

.terms {
    border-top: 1px solid #000000;
    padding-top: 20px;
}

.redemption_item::after {
    /*clear: both;*/
}
